@model RemTechStroy.Models.LoginViewModel
    <head>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <section class="section" style="padding-top: 30px; margin-left: 200px">
        <div class="container" >
            <div class="feedback" style="font-size: 16px">
                <h1>Вход в личный кабинет</h1>
                <div>
                    <form asp-area="" asp-controller="Account" asp-action="Login" method="post" 
                          asp-route-returnUrl="@ViewBag.returnUrl">
                        <div asp-validation-summary="All"></div>
                        <div class="fb_item">
                            <label class="fb_name" asp-for="UserName"></label>
                        </div>
                        <div class="fb_item">
                            <input asp-for="UserName" />
                            <span asp-validation-for="UserName"></span>
                        </div>

                        <div class="fb_item">
                            <label class="fb_name" asp-for="Password"></label>
                        </div>
                        <div class="fb_item">
                            <input asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div style="margin: 10px">
                            <label class="fb_name" asp-for="RememberMe"></label>
                            <input asp-for="RememberMe" />
                            <span asp-validation-for="RememberMe"></span>
                        </div>
                        <div>
                            <input class="btn" type="submit" value="Войти" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
